.ng-cloak {
    display: none !important;
    visibility: hidden !important;
}

body {
    /*min-height: 2000px;*/
    padding-top: 70px;
}

html {
    position: relative;
    min-height: 100%;
}

.btn2 {
    margin-right: -10px;
    margin-left:  -10px;
    width: calc(100% + 10px + 10px) !important;
}

.line {
    line-height: 24px;
}

.divider-horizontal hr {
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(0,0,0,0.1);
    color: #fff;
    height: 0;
    width: 93%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 36px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 10px 0;
}

#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.cover {
    width: 100%;
    height: 120px;
}

.profile-info {
    margin-top: 20px;
    //vertical-align: middle;
    //line-height: 120px;
}

.profile-photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.profile-photo-cover {
    margin-top: -30px;
    margin-left: 85%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
}

/*body {
    min-width: 768px !important;
    overflow-y: auto;
}*/

.navbar .divider-vertical {
    height: 50px;
    margin: 0 1px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.jumbotron {
    min-width: 240px !important;
    overflow: hidden;
}

.event-box {
    border: 1px #C9C9C9 solid;
    background-color: #FFFFFF;
    outline-style: none;
    border-radius: 4px;
    margin: 1%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 48%;
    float: left;
}

.event-box-single, .mini-box {
    border: 1px #C9C9C9 solid;
    background-color: #FFFFFF;
    outline-style: none;
    border-radius: 4px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.mini-box {
    padding: 15px !important;
}

.w100 {
    position: relative;
    float: left;
    width: 100%;
}

.w50 {
    position: relative;
    float: left;
    width: 49%;
}

.w50-left {
    margin-left: 1%;
}

.w50-rigth {
   margin-right: 1%;
}

.event-single-title {
    margin-top: -15px;
    margin-bottom: 15px;
}

.cover-event {
    position: relative;
    width: calc(100% + 15px + 15px);
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    //margin-bottom: 10px;
    opacity: 1;
}

.btn-cover {
    padding-left: 6px;
    margin-top: -40px;
}

.btn-cover>button, .btn-cover>span {
    background-color:  transparent !important;
}

.border-fade:hover {
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;

    /* For IE 5.5 - 7 */
    /* for IE4 - IE7 */
    filter:
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=1, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=90, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=180, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=270, Color=#C4C4C4);
    -ms-filter: "
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=1, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=90, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=180, Color=#C4C4C4),
        progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=270, Color=#C4C4C4)
        ";
}