<!DOCTYPE html>
<html lang="en" ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="favicon.ico">

        <title>Eventos Manager</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

        <script type="text/javascript">
            if (window.localStorage.isAuthenticated !== "true") {
                window.location.assign('/eventos/signin.html');
            }
        </script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/eventos">Eventos Manager</a>
                </div>
                <div class="navbar-collapse collapse" id="tabMenu">
                    <ul class="nav navbar-nav" role="tablist">
                        <li><a href="#home" role="tab" data-toggle="tab">Home</a></li>
                        <li><a href="#myevents" role="tab" data-toggle="tab">Seus eventos</a></li>
                        <li><a href="#find" role="tab" data-toggle="tab">Encontre mais eventos</a></li>
                        <li ng-show="false"><a href="#event" role="tab" data-toggle="tab">Evento</a></li>
                        <li><a href="#new" role="tab" data-toggle="tab">Criar evento</a></li>
                        <li><a href="#profile" role="tab" data-toggle="tab">Perfil</a></li>
                        <li ng-show="false"><a href="#user" role="tab" data-toggle="tab">Usuário</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="javascript:void(0);" ng-click="doLogout();" role="tab" data-toggle="tab">Sair</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#about" role="tab" data-toggle="tab">Sobre</a></li>
                        <li><a href="#contact" role="tab" data-toggle="tab">Contato</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">
            <div class="ng-cloak jumbotron">
                <div class="ng-cloak alert" ng-class="alertClass" role="alert" ng-show="showAlert">
                    <button ng-show="dismiss" type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    {{alertMessage}}
                </div>

                <div class="ng-cloak tab-content">
                    <div class="tab-pane active" id="home">
                        <h1>Bem vindo {{username()}}</h1>
                    </div>
                    <div class="tab-pane" id="myevents" ng-controller="MyEventsCtrl">
                        <div ng-show="UserEvents.length > 0">
                            <div class="form-horizontal">
                                <div class="event-box border-fade" ng-repeat="e in UserEvents">
                                    <img class="cover-event clickable" 
                                         alt="cover" 
                                         src="" 
                                         title="{{e.title}}"
                                         ng-click="goToEvent(e)"
                                         ng-src="{{fetchImage(e.coverUrl)}}"/>
                                    <img class="profile-photo-cover border-fade clickable" 
                                         alt="owner" 
                                         src=""
                                         title="{{e.Owner.fullName}}"
                                         ng-click="goToProfile(e.owner)"
                                         ng-src="{{fetchImage(e.owner.photoUrl)}}"/>
                                    <div class="form-group line">
                                        <div class="col-md-12">
                                            <label>{{e.title}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-map-marker"></i> {{e.location}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-time"></i> {{e.date}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-user"></i> {{e.guests}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span>{{e.totalGuests}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <hr class="divider-horizontal"/>
                                        </div>
                                        <div class="col-md-12">
                                            <label>{{e.due ? 'Você foi?' : 'Você vai?'}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control"
                                                    ng-model="e.status"
                                                    ng-change="updateEventStatus(e);"
                                                    ng-options="status.name for status in e.stList track by status.id">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="UserEvents.length === 0">
                            <div class="alert alert-info" role="alert">Você ainda não possui eventos.</div>
                        </div>
                    </div>
                    <div class="tab-pane" id="event" ng-controller="FindEventsCtrl">
                        <div class="form-horizontal">
                            <div class="event-box-single">
                                <img class="cover-event" 
                                     alt="cover" 
                                     src="" 
                                     title="{{Event.title}}"
                                     ng-click="goToEvent(Event)"
                                     ng-src="{{fetchImage(Event.coverUrl)}}"/>
                                <img class="profile-photo-cover border-fade clickable" 
                                     alt="owner" 
                                     src=""
                                     title="{{Event.owner.fullName}}"
                                     ng-click="goToProfile(Event.owner)"
                                     ng-src="{{fetchImage(Event.owner.photoUrl)}}"/>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h3 class="event-single-title">{{Event.title}}</h3>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <div class="col-md-2">
                                        <span class="btn btn-default" ng-disabled="Event.shared" ng-click="share(Event)">
                                            <i class="glyphicon glyphicon glyphicon-share"></i> {{Event.shared ? 'Compartilhado' : 'Compartilhar'}}
                                        </span>
                                    </div>
                                    <div class="col-md-5">
                                        <span class="btn btn-default" ng-show="!Event.like" ng-click="like(Event)">
                                            <i class="glyphicon glyphicon glyphicon-thumbs-up"></i> {{Event.likes}}
                                        </span>
                                        <span class="btn btn-default" ng-show="Event.like" ng-click="unlike(Event)">
                                            <i class="glyphicon glyphicon glyphicon-thumbs-down"></i> {{Event.likes}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="w100">
                                <div class="w50 w50-rigth">
                                    <div class="mini-box" style="padding-bottom: 15px">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Compartilhe algo" ng-model="userComment"/>
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-disabled="!userComment" ng-click="comment(Event)">OK</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini-box" ng-repeat="c in Event.comments">
                                        <div class="form-group">
                                            <div class="col-md-1">
                                                <img class="profile-photo-comment border-fade clickable" 
                                                     alt="owner" 
                                                     src=""
                                                     title="{{c.user.fullName}}"
                                                     ng-click="goToProfile(c.user)"
                                                     ng-src="{{fetchImage(c.user.photoUrl)}}"/>
                                            </div>
                                            <div class="col-md-10">
                                                <label>{{c.user.fullName}}</label><br />
                                                <span>{{c.comment}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-1">
                                                <span class="btn btn-default btn-xs" title="Curtir" ng-show="!c.like" ng-click="likeComment(Event, c)">
                                                    <i class="glyphicon glyphicon glyphicon-thumbs-up"></i>
                                                </span>
                                                <span class="btn btn-default btn-xs" title="Descurtir" ng-show="c.like" ng-click="unlikeComment(Event, c)">
                                                    <i class="glyphicon glyphicon glyphicon-thumbs-down"></i>
                                                </span>
                                            </div>
                                            <div class="col-md-10">
                                                <small><ng-pluralize count="c.likes" when="likesC"></ng-pluralize></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w50 w50-left">
                                    <div class="mini-box">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <strong>Detalhes</strong>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <span>{{Event.detail}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <span><i class="glyphicon glyphicon-map-marker"></i> {{Event.location}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <span><i class="glyphicon glyphicon-time"></i> {{Event.date}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini-box">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label>{{Event.Due ? 'Você foi?' : 'Você vai?'}}</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div class="col-md-3">
                                                    <button type="button" 
                                                            class="btn btn-primary btn2" 
                                                            ng-click="updateEventStatus(Event, 1)">Sim</button>
                                                </div>
                                                <div class="col-md-3" ng-show="!e.Due">
                                                    <button type="button" 
                                                            class="btn btn-primary btn2" 
                                                            ng-click="updateEventStatus(Event, 3)">Talvez</button>
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" 
                                                            class="btn btn-primary btn2" 
                                                            ng-click="updateEventStatus(Event, 2)">Não</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mini-box">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <span><i class="glyphicon glyphicon-user"></i>&nbsp;
                                                    <ng-pluralize ng-show="Event.due" count="Event.totalGuests" when="peopleDueC"></ng-pluralize>
                                                    <ng-pluralize ng-show="!Event.due" count="Event.totalGuests" when="peopleNotDueC"></ng-pluralize>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="find" ng-controller="FindEventsCtrl">

                        <div ng-show="AllEvents.length > 0">
                            <div class="form-horizontal">
                                <div class="event-box border-fade" ng-repeat="e in AllEvents| filter:{answer:0}">
                                    <img class="cover-event clickable" 
                                         alt="cover" 
                                         src="" 
                                         title="{{e.title}}"
                                         ng-click="goToEvent(e)"
                                         ng-src="{{fetchImage(e.coverUrl)}}"/>
                                    <img class="profile-photo-cover border-fade clickable" 
                                         alt="owner" 
                                         src=""
                                         title="{{e.owner.fullName}}"
                                         ng-click="goToProfile(e.owner)"
                                         ng-src="{{fetchImage(e.owner.photoUrl)}}"/>
                                    <div class="form-group line">
                                        <div class="col-md-12">
                                            <label>{{e.title}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-map-marker"></i> {{e.location}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-time"></i> {{e.date}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-user"></i> {{e.guests}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span>{{e.totalGuests}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <hr class="divider-horizontal"/>
                                        </div>
                                        <div class="col-md-12">
                                            <label>{{e.due ? 'Você foi?' : 'Você vai?'}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <button type="button" 
                                                        class="btn btn-primary btn2" 
                                                        ng-click="updateEventStatus(e, 1)">Sim</button>
                                            </div>
                                            <div class="col-md-3" ng-show="!e.Due">
                                                <button type="button" 
                                                        class="btn btn-primary btn2" 
                                                        ng-click="updateEventStatus(e, 3)">Talvez</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" 
                                                        class="btn btn-primary btn2" 
                                                        ng-click="updateEventStatus(e, 2)">Não</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="AllEvents.length === 0 || (AllEvents | filter:{answer:0}).length === 0">
                            <div class="alert alert-info" role="alert">Nenhum evento novo encontrado.</div>
                        </div>
                    </div>
                    <div class="tab-pane" id="new" ng-controller="NewEventCtrl">
                        <form role="form" ng-submit="submit()">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <img class="cover" alt="" ng-src="{{src}}" style="opacity: 1;" />
                                        <div class="btn-cover">
                                            <span role="button" 
                                                  class="btn btn-default"
                                                  title="Anterior"
                                                  ng-click="reloadCover()">
                                                <i class="glyphicon glyphicon-chevron-left"></i>
                                            </span>
                                            <span role="button" 
                                                  class="btn btn-default"
                                                  title="Próxima"
                                                  ng-click="reloadCover()">
                                                <i class="glyphicon glyphicon-chevron-right"></i>
                                            </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input class="form-control" placeholder="Título do evento" ng-model="Dto.Title" required/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                            <input type="text" class="form-control datetime" id="initTime" ng-model="Dto.InitialDate" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                            <input type="text" class="form-control datetime" id="endTime" ng-model="Dto.FinalDate"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                            <input class="form-control" placeholder="Localização" ng-model="Dto.Location" required/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea class="form-control" rows="3" placeholder="Detalhes" ng-model="Dto.Detail"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <button class="btn btn-lg btn-success" type="submit">Criar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="profile" ng-controller="ProfileCtrl">
                        <div class="form-horizontal white-box p15" ng-show="!showAlert">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <img class="profile-photo border-fade" alt="" ng-src="{{fetchImage(Dto.PhotoUrl)}}" style="opacity: 1;" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 text-left">
                                    <strong>{{Dto.FullName}}</strong><br />
                                    <small>{{Dto.Email}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="about">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h2>Quem esta fazendo este projeto</h2>    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <img class="profile-photo" alt="" src="https://lh5.googleusercontent.com/--fK08SiAPcA/AAAAAAAAAAI/AAAAAAAAABU/7GiuAp4r3RA/s120-c/photo.jpg" style="opacity: 1;" />
                                </div>
                                <div class="col-md-6 profile-info"><span><strong>Alexandre Vicenzi</strong><br />Cargo</span><br />vicenzi.alexandre@gmail.com</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <img class="profile-photo" alt="" src="https://lh6.googleusercontent.com/-R35uCFFUd6k/AAAAAAAAAAI/AAAAAAAAAG4/XdGwaMJattA/s120-c/photo.jpgg" style="opacity: 1;" />
                                </div>
                                <div class="col-md-6 profile-info"><strong>Marcos Souza</strong><br />Cargo<br />marcos.souza.org@gmail.com</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <img class="profile-photo" alt="" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/t1.0-1/c39.39.485.485/s160x160/600194_569833863067764_174359401_n.jpg" style="opacity: 1;" />
                                </div>
                                <div class="col-md-6 profile-info"><strong>Priscila Assini</strong><br />Cargo<br />priscila.kornely92@gmail.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="contact">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <h2>Contato</h2>    
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">Email para contato</label>
                                <input id="email" type="email" class="form-control" placeholder="Seu email" required/>
                            </div>
                            <div class="form-group">
                                <label for="assunto" class="control-label">Assunto</label>
                                <input id="assunto" class="form-control" placeholder="Assunto" required/>
                            </div>
                            <div class="form-group">
                                <label for="msg" class="control-label">Mensagem</label>
                                <textarea id="msg" class="form-control" rows="5" placeholder="Digite sua mensagem" required></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="text-muted">&copy; Eventos Manager 2014</p>
            </div>
        </div>

        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/moment-with-langs.min.js"></script>
        <!-- http://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script src="js/bootstrap-datetimepicker.min.js"></script>

        <script src="js/main.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
