
<!DOCTYPE html>
<html lang="en" ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="favicon.ico">

        <title>Eventos Manager</title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

        <script type="text/javascript">
            if (window.localStorage.isAuthenticated !== "true") {
                window.location.assign('/eventos/signin.html');
            }
        </script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/eventos">Eventos Manager</a>
                </div>
                <div class="navbar-collapse collapse" id="tabMenu">
                    <ul class="nav navbar-nav" role="tablist">
                        <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
                        <li><a href="#myevents" role="tab" data-toggle="tab">Seus eventos</a></li>
                        <li><a href="#find" role="tab" data-toggle="tab">Encontre mais eventos</a></li>
                        <li><a href="#new" role="tab" data-toggle="tab">Criar evento</a></li>
                        <li><a href="#profile" role="tab" data-toggle="tab">Perfil</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="javascript:void(0);" ng-click="doLogout();" role="tab" data-toggle="tab">Sair</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#about" role="tab" data-toggle="tab">Sobre</a></li>
                        <li><a href="#contact" role="tab" data-toggle="tab">Contato</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="ng-cloak tab-content">
            <div class="tab-pane active" id="home">
                <div class="container">
                    <div class="jumbotron">
                        <h1>Bem vindo {{username()}}</h1>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="myevents" ng-controller="MyEventsCtrl">
                <div class="container">
                    <div class="jumbotron">
                        <div ng-show="UserEvents.length > 0">
                            <div class="form-horizontal">
                                <div class="event-box border-fade" ng-repeat="e in UserEvents">
                                    <img class="cover-event" 
                                         alt="cover" 
                                         src="" 
                                         title="{{e.Title}}"
                                         ng-src="{{fetchImage(e.CoverUrl)}}"/>
                                    <img class="profile-photo-cover border-fade" 
                                         alt="owner" 
                                         src=""
                                         title="{{e.Owner.FullName}}"
                                         ng-click="goToProfile(e.Owner)"
                                         ng-src="{{fetchImage(e.Owner.PhotoUrl)}}"/>
                                    <div class="form-group line">
                                        <div class="col-md-12">
                                            <label>{{e.Title}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-map-marker"></i> {{e.Location}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-time"></i> {{e.Date}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-user"></i> {{e.Guests}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span>{{e.TotalGuests}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <hr class="divider-horizontal"/>
                                        </div>
                                        <div class="col-md-12">
                                            <label>{{e.Due ? 'Você foi?' : 'Você vai?'}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <select class="form-control"
                                                    ng-model="e.Status"
                                                    ng-change="updateEventStatus(e);"
                                                    ng-options="status.name for status in e.stList track by status.id">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="UserEvents.length === 0">
                            <div class="alert alert-info" role="alert">Você ainda não possui eventos.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="find" ng-controller="FindEventsCtrl">
                <div class="container">
                    <div class="jumbotron">
                        <div ng-show="AllEvents.length > 0">
                            <div class="form-horizontal">
                                <div class="event-box border-fade" ng-repeat="e in AllEvents| filter:{Answer:0}">
                                    <img class="cover-event" 
                                         alt="cover" 
                                         src="" 
                                         title="{{e.Title}}"
                                         ng-src="{{fetchImage(e.CoverUrl)}}"/>
                                    <img class="profile-photo-cover border-fade" 
                                         alt="owner" 
                                         src=""
                                         title="{{e.Owner.FullName}}"
                                         ng-click="goToProfile(e.Owner)"
                                         ng-src="{{fetchImage(e.Owner.PhotoUrl)}}"/>
                                    <div class="form-group line">
                                        <div class="col-md-12">
                                            <label>{{e.Title}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-map-marker"></i> {{e.Location}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-time"></i> {{e.Date}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span><i class="glyphicon glyphicon-user"></i> {{e.Guests}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <span>{{e.TotalGuests}}</span>
                                        </div>
                                        <div class="col-md-12">
                                            <hr class="divider-horizontal"/>
                                        </div>
                                        <div class="col-md-12">
                                            <label>{{e.Due ? 'Você foi?' : 'Você vai?'}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-3">
                                                <button type="button" 
                                                        class="btn btn-primary btn2" 
                                                        ng-click="updateEventStatus(e, 1)">Sim</button>
                                            </div>
                                            <div class="col-md-3" ng-show="!e.Due">
                                                <button type="button" 
                                                        class="btn btn-primary btn2" 
                                                        ng-click="updateEventStatus(e, 3)">Talvez</button>
                                            </div>
                                            <div class="col-md-3">
                                                <button type="button" 
                                                        class="btn btn-primary btn2" 
                                                        ng-click="updateEventStatus(e, 2)">Não</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="AllEvents.length === 0 || (AllEvents | filter:{Answer:0}).length === 0">
                            <div class="alert alert-info" role="alert">Nenhum evento novo encontrado.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="new" ng-controller="NewEventCtrl">
                <div class="container">
                    <div class="jumbotron" style="width: 60%; margin-left: 20%">
                        <form role="form" ng-submit="submit()">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <img class="cover" alt="" ng-src="{{src}}" style="opacity: 1;" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input class="form-control" placeholder="Título do evento" ng-model="Dto.Title" required/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                            <input type="text" class="form-control" id="initTime" ng-model="Dto.InitialDate" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                            <input type="text" class="form-control" id="endTime" ng-model="Dto.FinalDate"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                                            <input class="form-control" placeholder="Localização" ng-model="Dto.Location" required/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <textarea class="form-control" rows="3" placeholder="Detalhes" ng-model="Dto.Detail"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            <input class="form-control" placeholder="Convidar por nome ou email" ng-model="Dto.Guests"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        <button class="btn btn-lg btn-success" type="submit">Criar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div> <!-- /container -->
            </div>
            <div class="tab-pane" id="profile" ng-controller="ProfileCtrl">
                <div class="container">
                    <div class="jumbotron">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <img class="profile-photo border-fade" alt="" ng-src="{{getPhoto()}}" style="opacity: 1;" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 text-left">
                                    <strong>{{Dto.FullName}}</strong><br />
                                    <small>{{Dto.Email}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="about">
                <div class="container">
                    <div class="jumbotron">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h2>Quem esta fazendo este projeto</h2>    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <img class="profile-photo" alt="" src="https://lh5.googleusercontent.com/--fK08SiAPcA/AAAAAAAAAAI/AAAAAAAAABU/7GiuAp4r3RA/s120-c/photo.jpg" style="opacity: 1;" />
                                </div>
                                <div class="col-md-6 profile-info"><span><strong>Alexandre Vicenzi</strong><br />Cargo</span><br />vicenzi.alexandre@gmail.com</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <img class="profile-photo" alt="" src="https://lh6.googleusercontent.com/-R35uCFFUd6k/AAAAAAAAAAI/AAAAAAAAAG4/XdGwaMJattA/s120-c/photo.jpgg" style="opacity: 1;" />
                                </div>
                                <div class="col-md-6 profile-info"><strong>Marcos Souza</strong><br />Cargo<br />email</div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-2">
                                    <img class="profile-photo" alt="" src="https://lh6.googleusercontent.com/-684rS6GWmeo/AAAAAAAAAAI/AAAAAAAAAAA/EE96cKnokVI/s120-c/photo.jpg" style="opacity: 1;" />
                                </div>
                                <div class="col-md-6 profile-info"><strong>Priscila Assini</strong><br />Cargo<br />email</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="contact">
                <div class="container">
                    <div class="jumbotron">
                        <div class="alert alert-danger" role="alert">Erro ao buscar informações de contato. Não tente novamente mais tarde. :P</div>
                    </div>
                </div>
            </div>

            <div id="footer">
                <div class="container">
                    <p class="text-muted">&copy; Eventos Manager 2014</p>
                </div>
            </div>
        </div>

        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/moment-with-langs.min.js"></script>
        <!-- http://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script src="js/bootstrap-datetimepicker.min.js"></script>

        <script src="js/main.js"></script>

        <script>
                                                $(function() {
                                                /* Para que ao apertar F5 não perder a tab atual.  */
                                                var url = document.location.toString();
                                                        if (url.match('#')) {
                                                $('#tabMenu a[href=#' + url.split('#')[1] + ']').tab('show');
                                                } else {
                                                $('#tabMenu a:first').tab('show');
                                                }
                                                $('#tabMenu a').on('click', function(e) {
                                                window.location.hash = e.target.hash;
                                                });
                                                        $("#initTime, #endTime").datetimepicker({
                                                language: 'pt-BR'
                                                });
                                                });
        </script>
    </body>
</html>
